<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bd5b0">  <td>18/11/03 13:47:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testCases.TC001_LoginLogout@5ce81285]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/03 13:47:15</td>   <td>-1808</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testCases.TC001_LoginLogout@5ce81285]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>18/11/03 13:47:17</td>   <td>-80</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeTest()[pri:0, instance:testCases.TC001_LoginLogout@5ce81285]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/11/03 13:47:21</td>   <td>4450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginLogout.loginLogout(java.lang.String, java.lang.String)[pri:0, instance:testCases.TC001_LoginLogout@5ce81285]">loginLogout</td> 
  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/11/03 13:47:17</td>   <td>-77</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginLogout.setdata()[pri:0, instance:testCases.TC001_LoginLogout@5ce81285]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
</table>
