<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aed9f0">  <td>18/10/28 16:51:35</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testCases.TC001_LoginLogout@5ec0a365]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/28 16:51:35</td>   <td>652</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeTest()[pri:0, instance:testCases.TC001_LoginLogout@5ec0a365]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/28 16:51:35</td>   <td>653</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginLogout.setdata()[pri:0, instance:testCases.TC001_LoginLogout@5ec0a365]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/28 16:51:35</td>   <td>664</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testCases.TC001_LoginLogout@5ec0a365]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/28 16:51:36</td>   <td>1351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String)[pri:0, instance:testCases.TC001_LoginLogout@5ec0a365]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/28 16:51:50</td>   <td>14949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginLogout.loginLogout(java.lang.String, java.lang.String)[pri:0, instance:testCases.TC001_LoginLogout@5ec0a365]">loginLogout</td> 
  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/28 16:51:53</td>   <td>17929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testCases.TC001_LoginLogout@5ec0a365]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/28 16:51:55</td>   <td>20028</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterClass()[pri:0, instance:testCases.TC001_LoginLogout@5ec0a365]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/28 16:51:55</td>   <td>20034</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testCases.TC001_LoginLogout@5ec0a365]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/28 16:51:55</td>   <td>20077</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testCases.TC001_LoginLogout@5ec0a365]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@503195940</td>   <td></td> </tr>
</table>
